{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="home" class="banner-area section-padding">
    <div class="bg-overlay black"></div>
    <div class="containter">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text">
                    <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Finu Fayiz A R</div>
                    <h1 class="wow fadeInDown" data-wow-delay="0.4s">full-stack web developer</h1>
                    <!-- <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                    <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

{#    About section#}

<div id="about" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-left">
                    <h2 class="section-title">About Me</h2>
                    <div class="line"></div>
                    <h4>{{ about.short_description }}</h4>
                    <p>{{ about.description }}</p>
                    <a href="{% static 'files/Finu_RESUME.pdf' %}" download>Download CV&nbsp;<i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                <div class="profile">
                    <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>


{#    Recent Works Section#}
<div id="portfolio" class="portfolio-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>My Recent Works</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for work in works %}
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="{{ work.image.url }}">
                            <img src="{{ work.image.url }}" alt="work image">
                        </a>

                        <div class="gallery-text">
                            <h2>{{ work.title }}</h2>
                            {% if work.link %}
                            <a href="{{ work.link }}" class="btn btn-primary" target="_blank">View Project</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{#    Contact section#}
<!-- 
<div class="invitation-area section-padding">
    <div class="container">
        <div class="row">
            <div class="single-invite text-center">
                <h2>Do you have any project need to be done?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at cupiditate distinctio dolorem
                    dolores impedit, inventore magnam magni nam numquam quidem ratione rem repellendus, saepe?</p>
                <a href="#contact" class="my-btn-3">Get started</a>
            </div>
        </div>
    </div>
</div> -->

<div id="contact" class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2>Contact Me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="mailto:finuisfine@gmail.com" style="text-decoration: none;">
                    <button style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; margin-right: 10px;">
                        Send Mail
                    </button>
                </a>
                <a href="tel:+971555943126" style="text-decoration: none;">
                    <button style="padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer;">
                        Call Me
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 20px;">
                <div class="contact-details">
                    <p><i class="fas fa-envelope"></i> finuisfine@gmail.com</p>
                    <p><i class="fas fa-phone-alt"></i> +971 555943126</p>
                    <p><i class="fas fa-map-marker-alt"></i> Deira,Dubai</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 20px;">
                <div class="social-icons">
                    <a href="https://www.instagram.com/finu_is_fine_" target="_blank" style="margin-right: 20px;">
                        <i class="fab fa-instagram" style="font-size: 24px; color: #E4405F;"></i>
                    </a>
                    <a href="https://github.com/finu-fayiz" target="_blank" style="margin-right: 20px;">
                        <i class="fab fa-github" style="font-size: 24px; color: #333;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/finu-fayiz-a-r" target="_blank">
                        <i class="fab fa-linkedin" style="font-size: 24px; color: #0077B5;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}